.site-title {
    font-size: 3rem;
    margin: auto;
}
.cart {
    position: absolute;
    top: 50px;
    right: 250px;
    display: flex;
    flex-direction: column;
    width: 200px;
}

.cart-item {
    width: 100%;
    display: flex;
    align-items: between;
    padding: 10px;
    border-bottom: 1px solid #333;
}

.cart-item-quantity {
}

.cart-item-quantity {
    margin-left: auto;
}
