.header {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 30px;
}

.site-title {
    font-size: 3rem;
    margin: auto;
}

.cart-logo {
    position: relative
}
